<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="NICName0" value=""/>
		<add key="IPAddress0" value=""/>
		<add key="Subnet0" value=""/>
		<add key="Gateway0" value=""/>
	</appSettings>
</configuration>